{% extends 'base.html.twig' %}

{% block body %}
    <div {{ stimulus_controller('chatroom') }}>
        <input type="hidden" {{ stimulus_target('chatroom', 'mercureUrl') }}
               value="{{ mercure(path('home')) }}">
        <input type="hidden" {{ stimulus_target('chatroom', 'publishUrl') }}
               value="{{ path('publish') }}">

        <div {{ stimulus_target('chatroom', 'messages') }}>
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>

        <label>
            <input type="text" {{ stimulus_target('chatroom', 'message') }}>
        </label>

        <button {{ stimulus_action('chatroom', 'send') }}>send</button>
    </div>
{% endblock %}
